
<% obj.each do |r|%>
  <div class="row">
    <div class="col-md-2">
      <section class="center chef_info">
        <%= gravatar_for(r.chef, size:120) %>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to r.name, recipe_path(r) %></h4>
      <p><%= truncate(r.description, length: 150) %></p>
      <% if r.ingredients.any? %>
        <p>Ingredients:<%= render r.ingredients %></p>
      <% end %>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(r.created_at) %> ago By <%= r.chef.chefname.capitalize %> | <%= pluralize(r.coments.count, 'Coment') %></small></span>
      </p>
      <% if if_logged? && (current_chef == r.chef || current_chef.admin?)%>
        <div class="recipes-actions">
          <%= link_to 'Edit Recipe',edit_recipe_path(r), class:"btn btn-warning btn-xs" %>
          <%= link_to 'Delete Recipe',recipe_path(r), class:"btn btn-danger btn-xs", method: :delete, data:{ confirm:'are you sure?'} %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>