
<%= render 'shared/title', title: @recipe.name %>
<div class="row">
  <div class="col-md-8 well col-md-offset-2">
    <h4 class="center description"><strong>Steps: </strong> </h4>
    <hr>
    <%= simple_format(@recipe.description) %> 
    <hr>
    <% if @recipe.ingredients.any? %>
      <p>Ingredients: <%= render @recipe.ingredients %></p>
    <% end %>
    <div class="pull-right">
      <p class="center">
        <em>Created by:</em>
      </p>

      <p class="center">
        <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
      </p>

      <p class="center">
        <small><%= @recipe.chef.chefname.capitalize %></small>
        <div class="pull-right">
          Created <%= time_ago_in_words(@recipe.created_at) %> ago
        </div>
      </p>
    </div>
    <div class="recipe-actions">
      <% if if_logged? && (current_chef == @recipe.chef || current_chef.admin?) %>
        <%= link_to 'Edit Recipe',edit_recipe_path(@recipe), class:"btn btn-warning btn-xs" %>
        <%= link_to 'Delete Recipe',recipe_path(@recipe), class:"btn btn-danger btn-xs", method: :delete, data:{ confirm:'are you sure?'} %>
      <% end %>
      <%= link_to 'Return to Recipes Listing', recipes_path, class:"btn btn-success btn-xs" %>
    </div>
  </div>
</div>

<% if if_logged? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <%= form_for([@recipe, @coment], remote: true, :html => {class: "form-horizontal", role:"form"}) do |f| %>
        <h2>Comments: </h2>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :description, "Comment" %>
          </div>
          <div class="col-md-8">
            <%= f.text_area :description, rows: 8,  class:"form-control", placeholder:'Enter Comment'%>
          </div>
        </div> 

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10 ">
            <%= f.submit 'Submit Comment', class:"btn btn-success btn-lg"%>
          </div>
        </div> 
        <hr>
      <% end %>
    </div>
  </div>

<% end %>

<% if @recipe.coments != 0 %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4> Prior Coments: </h4>
          <div id="messages">
            <%= render(partial:"coments/coments", object: @coments) %>
          </div>
    </div>
  </div>  
<% else %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4> Not Coments yet </h4>
    </div>
  </div>  
<% end %>

